* {
    box-sizing: border-box;
  } 
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    height: 120px;
    width: 100%;
    background: white; 
    display: inline-flex;
    justify-content: space-between;
  }

  /* .header img{
    display: inline;
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
  }
  
.header h1 {
    display: inline;
    font-size: 50px;
    color:black;
    
  } */

  .img1{
    display: flex;
    height: 100%;
    
  }

  .img2{
    display: inline;
    height: 100%;
    margin-bottom: 100px;

  }

  .gov{
    margin-top: 20px;
    font-size: 60px;
    font-weight: bolder;
    margin-right: 50px;

  
  }


  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #242A48;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .main-scheme{
    padding-left: 50px;
    padding-right: 50px;
  }

  .schemes{
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    height: 200px;
    margin-top: 50px;
    text-align: center;
    
  }


.schemes h1{
    font-size: 40px;
    padding-top: 10px;
    color: black;
}  

.schemes a{
  text-decoration: none;
}

.schemes p{
  color:black;
}
  /* .schemes img{
    float: left;
    height: 100%;
    width: 200px;
    border-radius: 30px;
  } */
